<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SongKeys</key>
	<array>
		<string>RROs-zCrSko</string>
		<string>ci0ivwWQ6vQ</string>
		<string>R4-YdC5N6Lo</string>
		<string>YJ5q8Wrkbdw</string>
		<string>nFxKqgyv-a0</string>
		<string>vDiQsI18Zk4</string>
		<string>W5r3qquycHQ</string>
		<string>Tg97nAg86V4</string>
		<string>Ulp1Kimblg0&amp;t=381s</string>
		<string>3Xv1mJvwXok</string>
	</array>
	<key>SongName</key>
	<array>
		<string>Top 5 iOS 12 Features!</string>
		<string>How to trim a video on iPhone — Apple</string>
		<string>iPhone 7 Official Video iOS 9 (4K)</string>
		<string>Introducing the new iPad Pro — Apple</string>
		<string>iOS 13: Best New Features!</string>
		<string>200+ NEW iOS 13 features / changes for iPhone!</string>
		<string>Game-changing iOS 13 features</string>
		<string>Using Personal Automations With iOS 13 Shortcuts</string>
		<string>Swift Programming Tutorial for Beginners (Full Tutorial)</string>
		<string>Swift: Lets Build YouTube - Home Feed: UICollectionView, AutoLayout (Ep 1)</string>
	</array>
</dict>
</plist>
